awscli==1.10.37
BeautifulSoup==3.2.1
botfactory==16.8.14
boto==2.38.0
boto3==1.1.1
botocore==1.4.27
certifi==2015.4.28
cffi==1.5.2
colorama==0.3.3
cryptography==1.3.1
cssutils==1.0.1
divvy-ui==16.8.14
divvycloud==16.8.25
divvyclouddatabase==16.8.25
divvycloudprocessmanager==16.8.25
divvydbupgrade==16.8.25
divvylibcloud==16.8.13
divvystaticdata==16.8.25
docutils==0.12
ecdsa==0.13
elasticsearch==1.6.0
elasticsearch-dsl==0.0.4
enum34==1.1.3
Flask==0.10.1
Flask-Cache==0.13.1
Flask-Compress==1.0.0
futures==2.2.0
GChartWrapper==0.8
gevent==1.1.2
greenlet==0.4.10
hybrid-crypto==0.1.0.dev0
idna==2.1
inlinestyler==0.1.7
ipaddr==2.1.11
ipaddress==1.0.16
itsdangerous==0.24
Jinja2==2.8
jmespath==0.7.1
lockfile==0.9.1
lxml==3.3.3
MarkupSafe==0.23
mysql-connector-python==1.1.6
onetimepass==1.0.1
ordereddict==1.1
paramiko==1.13.0
ply==3.4
psutil==4.2.0
pyasn1==0.1.8
PyChef==0.2.3
pycparser==2.14
pycrypto==2.6.1
pyOpenSSL==0.15.1
pystatsd==0.1.10
python-daemon==1.6
python-dateutil==2.2
python-keyczar==0.71rc0
pytz==2016.3
pyvmomi===5.5.0.divvy.2
PyYAML==3.11
raven==5.0.0
redis==2.10.5
requests==2.7.0
rq==0.4.6
rsa==3.1.4
s3transfer==0.0.1
scheduled-events==16.2.0
simplejson==3.3.3
six==1.9.0
SQLAlchemy==1.0.8
sqlparse==0.1.11
times==0.6.2
ultra-rest-client==0.1.4
urllib3==1.11
uWSGI==2.0.11.1
waitress==0.8.8
websocket==0.2.1
websocket-client==0.37.0
Werkzeug==0.10.4
